{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/hosps.css' %}">
{% endblock %}

{% block content %}
	<div class="container body_color">

		<div class="container  projectDetails text-center">
      <h1 class="lead">تمتلك شركة التبارك سابقة اعمال فى مجال بناء و تطوير المدارس</h1>
      <i class="fas fa-school fa-4x"></i>
			<p><span>عدد المدارس : </span> 19 </p>
	 	</div>

		{% for item in pshc %}

		<div class="row mymargin">

				<div class="col-md">
					<div id="main_vedio">
							<div class="responsive">

								<iframe width="560" height="315" src="{{item.youtube_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						</div>
					</div>
				</div>

			<div class="col-md" id="mydata">
				<h2>{{item.project_name}}</h2>
				<p class="lead">طبيعة المشروع : <span>{{item.project_nature}}</span></p>
				<p class="lead">الجهة المالكة : <span>{{item.royal_side}}</span></p>
				<p class="lead">الاستشارى : <span>{{item.consultant}}</span></p>
				<p class="lead">الحاله التنفيذية : <span>{{item.executive_status}}</span></p>
			</div>
		</div>
		<hr>
		{% endfor %}

	 	</div>
	</div>
{% endblock %}
