<!-- Start Footer -->
	<section class="footer">
		<div class="container">
			<div class="row">

			<div class="col-lg-6">
				<h3>تواصل معنا</h3>
				<ul class="list-unstyled contact">
					<li> ابراج كورنيش النيل - أغاخان - شبرا -شارع دولتيان - برج 11 - الدور الرابع - مكتب 62 <i class="fas fa-map-marker-alt fa-1x"></i></li>
					<li>0222040359 <i class="fas fa-phone fa-1x"></i></li>
					<li>0201069966948 <i class="fas fa-mobile-alt fa-1x"></i></li>
					<li>0222047159 <i class="fas fa-fax fa-1x"></i></li>
					<li>info@altabarakconst.org <i class="far fa-envelope"></i></li>
				</ul>
			</div>
			<div class="col-lg-6">
				<h3>روابط سريعه</h3>
				<ul class="list-unstyled three-columns">
					<a href="{% url 'home' %}"><li>الرئيسية</li></a>
					<a href="{% url 'projects:aboucom' %}"><li>من نحن</li></a>
					<a href="#"><li>قسم الموارد</li></a>
					<a href="#"><li>العملاء</li></a>
					<a href="#"><li>التبارك للخرسانه الجاهزة</li></a>
					<a href="{% url 'projects:jobs' %}"><li>التوظيف</li></a>
					<a href="{% url 'projects:contact_us' %}"><li>اتصل بنا</li></a>
				</ul>

				<ul class="list-unstyled social-list">
					<a target="_blank" href="https://www.facebook.com/eltabarak.eng"><li><img src="../../static/img/socialmedia/Facebook.PNG"></li></a>
					<a target="_blank" href="https://www.youtube.com/watch?v=eJETCMRYlDw"><li><img src="../../static/img/socialmedia/Youtube.PNG"></li></a>
				</ul>

			</div>

			</div>
		</div>

		<div class="copyright text-center">
			التبارك للهندسة والمقاولات<span> 2018</span> جميع الحقوق محفوظة  <span>&copy;</span> تصميم الموقع بواسطة  <span>م | محمود يحيي نوفل</span>
		</div>
	</section>
	<!-- End Footer -->
